<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sara Brezec">
    <!-- to do: -->
    <meta name="description" content=" "> 
    <title>M-polynomials database</title>
    <!-- nalozi raje datoteke -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous"> -->
    <!-- dela ampak brez veze: <link href="{% static 'search/style.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'search/pure-min.css' %}" >
    <!--<link rel="stylesheet" href="/layouts/side-menu/styles.css"> -->
    <link href="{% static 'search/style.css' %}" rel="stylesheet"> 
  </head>
  <!-- <body>
    <header>
    <h1>The M-polynomials database</h1>
    <nav>
      <a href="#">Home</a>  change this to menu-->
      <!-- <a href="#">Our team</a>
      <a href="#">Projects</a>
      <a href="#">Contact</a>
    </nav>
    </header> 
    <p>Search through M-polynomials database</p>
    <form method="GET">
        <input type="text" name="q" style="height:20px;font-size:12pt;width:30em"
        placeholder="type in M-polynomial, structure name, author, ...">
        <input type="submit" value="search">
    </form>>
    
    {% for item in results %}
    {{item.id}}
    {{item.mpolynomyal}}
    {{item.structure_name}}
    
    <br>
    {% endfor %}
  </body> --> 
  <body>

    <div id="layout">
        <!-- Menu toggle -->
        <a href="#menu" id="menuLink" class="menu-link">
            <!-- Hamburger icon -->
            <span></span>
        </a>
    
        <div id="menu">
            <div class="pure-menu">
                <!-- <a class="pure-menu-heading" href="#">Menu</a> -->
    
                <ul class="pure-menu-list">
                    <li class="pure-menu-item menu-item-divided pure-menu-selected">
                        <a href="#" class="pure-menu-link">Search</a>
                    </li>

                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contribute</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Register</a></li>   

                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Instructions</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">About</a></li>
                </ul>
            </div>
        </div>
    
        <div id="main">
            <div class="header">
                <h1>The M-polynomials database</h1>
                <h2>search through database or contribute</h2>
            </div>
    
            <div class="content">
                <h2 class="content-subhead">Search</h2>
                <p>Search through M-polynomials database:</p>
                <form method="GET">
                    <input type="text" name="q" style="height:20px;font-size:12pt;width:30em"
                    placeholder="type in M-polynomial, structure name, author, ...">
                    <input type="submit" value="search">
                </form>
                <p>For more information about the search, see 
                    <a href="/layouts/side-menu/styles.css" alt="Instructions">Instructions. </a>
                </p>

                
                
                {% if results %}
                    {% if results == "No q given."%}
                        <h2 class="content-subhead">Results</h2>
                        <p> No input given. </p> 
                    {% else %}
                        <h2 class="content-subhead">Results</h2>
                        <!-- <ul>
                        {% for item in results %}
                        <li>
                            {{item.id}}
                            {{item.mpolynomyal}}
                            {{item.structure_name}}
                        </li>
                        {% endfor %}
                        </ul> --> 
                        <table class="pure-table pure-table-horizontal">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>M-polynomial</th>
                                    <th>Structure name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in results %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{item.mpolynomyal}}</td>
                                    <td>{{item.structure_name}}</td>
                                </tr>
                            {% endfor %}   
                            </tbody>
                        </table>
                    

                        {% if results.has_other_pages %}
                            <p>results has other pages</p>
                            <ul class="pagination">
                                {% if results.has_previous %}
                                    <li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in results.paginator.page_range %}
                                    {% if results.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if results.has_next %}
                                    <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                        {% endif %}



                    {% endif %}
                {% else %}
                    <h2 class="content-subhead">Results</h2>
                    <p>No results are available.</p>
                {% endif %}
                
    

    
    </body>
</html>

